@{
    ViewData["Title"] = "About Us!";
}

<div class="text-center">
    <h1 class="display-4">Thank you for using our services!</h1>
    <p>We are an e-commerce website providing hand crafted goods!
    </p>

         <p>
              Here you may purchase one of a kind goods that are limited to our stores only.
         </p>
</div>

