@{
    ViewData["Title"] = "Contact Us!";
}

<div
    class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>
        Please feel free to contact us about any troubles that you are having at: 
    </p>
    <p>
         KhumaloCraft@gmail.com
    </p>
</div>
