@{
    ViewData["Title"] = "My Work!";
}

<div 
     class="Card" style="width: 18rem;">
    <img class="card-img-top" src="~/Images/teacup.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Tea Cups</h5>
        <h6 class="card-subtitle mb-2 text-muted">Product by KhumaloCraft</h6>
        <p class="card-text">Hand Made cups and saucers locally made, Price R100 each.</p>
        <a href="#" class="btn btn-primary">Home Page</a>
    </div>
    </div> 

    <div
    class="Card" style="width: 18rem;">
    <img class="card-img-top" src="~/Images/ceramicPot.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Ceramic Pots</h5>
        <h6 class="card-subtitle mb-2 text-muted">Product by KhumaloCraft</h6>
        <p class="card-text">Hand Made pottery locally made, Price R250 each.</p>
        <a href="#" class="btn btn-primary">Home Page</a>
    </div>
  </div>  